@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;1,400&family=Roboto:wght@100&display=swap');
@font-face {
    font-family: 'jostmedium';
    src: url('../font/jostmedium.woff');
  }

  @font-face {
    font-family: 'jostregular';
    src: url('../font/Jost-Regular.woff');
  }  
  @font-face {
    font-family: 'Jost-SemiBold';
    src: url('../font/Jost-SemiBold.woff');
  }  
  @font-face {
    font-family: 'PlayfairDisplay';
    src: url('../font//PlayfairDisplay-Regular.woff');
  }  

*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'jostregular';
}

.container{
    width:100%;
    height:auto;
    padding:10px;

}

.wrepar{
    max-width: 1600px;
    height:auto;
    margin:0 auto;

}
section{
    max-width:1600px;
    margin:0 auto;
}
.header-top{
    border-bottom:0.5px solid rgb(48 48 48 / 20%);
}
.header{
    width:100%;
    height:auto;
    box-shadow: 0px 3px 5px #DFDFDF66;
   
}
.order-2{
    display:none;
}
.order{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    text-transform: uppercase;
    font-family: 'jostregular';
    
}
.order h6{
    font-size: 14px;
    float:left;
    color:#303030;
    opacity: 1;
    }
.menu-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.menu-list img{
    width:5%;
    padding-right:8px;
}

.menu-list span{
    font-size: 14px;
    padding-right: 20px;
}

.menu-list ul{
    display:inline-flex;
    align-items: center;
    font-size:14px;
    padding-left:0;
    opacity: 1;
   
}

.menu-list ul li{
    list-style: none;
    padding: 0 15px;
    cursor: pointer;
}
.nav-bar{
    width:100%;
    padding-right:10px;
    padding-left:40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'jostmedium';
}
.nav-bar .logo img{
    padding:10px 0;
}

.nav-bar .logo{
    width: 166px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.nav-bar .logo .size{
    padding:0 10px;
    cursor: pointer;
}
.nav-bar .logo .lock{
    position: relative;
}
.nav-bar .logo .lock span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #303030;
    background-color: #0C0C0C;
    color: #fff;
    text-align: center;
    font-size: 10px;
}

.nav-bar .nav-item{
    display:inline-flex;
    font-size:16px;
    padding-left:0px;

}
.menu-box {
    width: 100%;
    height:450px;
    position: absolute;
    background: #fff;
    top:150px;
    left: 0;
    right: 0;
    padding-top:50px;
    z-index:1;
    display: none;
}
.menu-box-2 {
    width: 150px;
    height:auto;
    position: absolute;
    background: #fff;
    z-index:1;
    display: none;
    box-shadow: 0px 3px 5px #dfdfdf66;
}
.menu-box-2 .menu-items-2{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 20px;
}
.menu-box-2 .menu-items-2 ul li a{
    line-height: 30px;
    font-size:14px;
    opacity: 0.7;
}
.menu-box .menu-items{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 80px;
}
.menu-box .menu-items ul li a{
    line-height: 40px;
    font-size:14px;
}
.menu-box .menu-items ul li a span{
    color: #ccc;
    font-size:16px;
    line-height:0;
}


.menu-img .banner-2 {
    width:100%;
}
.menu-img .banner{
    width:50%;
}
.nav-bar{
    width:100%;
    height:auto;
}

.nav-bar .nav-box{
    width:40%;
}
.nav-bar .nav-item .nav-link a {
    color: #303030;
}

.nav-bar .nav-item .nav-link:hover .menu-box{
    display:block
}
.nav-bar .nav-item .nav-link:hover .menu-box-2{
    display:block
}
.nav-bar .nav-item .nav-link{
    list-style: none;
    padding: 50px 28px;
    
}



/*-------section---------*/

.heading{
    width:100%;
    align-items: center;
    text-align: center;
}

.heading h1{
    font-size:32px;
    line-height: 70px;
    font-family: 'PlayfairDisplay';
    color:#303030;
}

.heading p{
    font-size:18px;
    line-height: 26px;
    color:rgb(48 48 48 / 60%);
}

/*---------grid-system--------*/

.row{
    width:100%;
    height:auto;
    display:flex;
    align-items: flex-start;
    font-family: 'jostmedium';
    flex-wrap: wrap;
}
.filter .show{
    display:none;
}

.drop-button .hide{
    display:none;
}
.drop-button .show{
    display:flex;
}




.row .left-div{
    width:24.33333%;
    height:auto;
    padding:0 20px;
    align-items:center;
}

.filter-img{
    width: 150px;
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    padding:10px 15px; 
    margin-bottom: 10px; 
    margin-left: 10px;
}

.filter-img h5{
    font-size:14px;
    line-height:26px;
    color:#000;
    margin-left: 10px;
}

.filter-img i{
    transform: rotate(90deg);
}

.right-div{
    width:72.33333%;
    height:auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.col-md-9 .Border{
    width:48%;
    height:auto;
    margin-bottom:10px;
}

.col-md-9 .Border button{
    border: 1px solid #707070;
    border-radius:15px;
    background:#fff;
    padding:5px 15px;
    font-size:13px;
  color:#303030;
  line-height:20px;
}

.col-md-9 .Border button i{
    padding-left:5px;
}

.col-md-9 .collect{
    width:100%;
    height:auto;
    margin-bottom:10px;
    text-align: end;
} 

.col-md-9 .select #standard-select{
    outline: none;
   padding-top:10px;
   padding-bottom:10px;
   padding-left: 5px ;
   padding-right:100px;
}

.tog::-webkit-scrollbar {
    width: 10px;
    background:transparent;
  }
  
  /* Track */
 .tog::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 0px;
  }
   
  /* Handle */
 .tog::-webkit-scrollbar-thumb {
   
    background: grey; 
    border-radius: 0px;
  }
  

.col-md-3 .choice-box{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-right:20px;
}

.extra{
    width:100%;
    padding: 0 30px;
}

.extra .left-div{
    display:none;
}

.extra .right-div{
    width:100%;
}

.choice-box .text{
    font-size: 16px;
    line-height:26px;
    color:#303030;
}
.choice-box .plush{
    display:none;
}

.collection .tog{
    display:block;
}
.choice-box .path{
    cursor: pointer;
}


.choice-box .plush{
    cursor: pointer;
}


.collection .plush{
    display:block;
}
.collection .path{
    display:none;
   
}

.collection .tog{
    display:none;
}
.new {
    padding: 10px 0;
    font-family: 'jostmedium';
    border-bottom:1px solid #707070;
  }
.tog{
    width: 100%;
    height: 200px;
    overflow-y: scroll;
}
.col-md-3 .choice-box-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-right: 20px;
}
.choice-box-2 .path{
    cursor: pointer;
}


.choice-box-2 .plush{
    cursor: pointer;
}
.choice-box-2 .plush{
    display:none;
}

.col-md-3 .choice-box-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-right: 20px;
}
.choice-box-3 .path{
    cursor: pointer;
}


.choice-box-3 .plush{
    cursor: pointer;
    display:none;
}

.collection .plush{
    display:block;
}


  
  .form-group {
    display: block;
    margin-bottom: 10px
  }
  
  .form-group input {
    padding: 0;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .form-group label {
    position: relative;
    cursor: pointer;
    font-size:16px;
    opacity:0.7;
    color:#303030;
  }
  
  .form-group label:before {
    content:'';
    background-color: transparent;
    border: 1px solid #303030;
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    margin-left:10px;
  }
  
  .form-group input:checked + label:after {
    content: '';
    display: block;
    color:#fff;
    position: absolute;
    top: 5px;
    left: 15px;
    width: 4px;
    height: 9px;
    border: solid #4C0B36;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
.price{
    border-bottom:1px solid #707070;
   padding-bottom:20px;
}

.price img{
  width:15px; 
  height:auto;
}

.row-div{
    width:100%;
    height:auto;
    padding:10px;
}
.text h6{
    font-family: 'Jost-SemiBold';
    font-size:16px;
    margin-left:10px;
    margin-bottom: 10px;
}

.col-md-9 .Pashmina{
    width:24%;
    height:auto;
    background-color: #fff;
   
}
.Pashmina .bg-color{
    position:relative;
    padding:130px 0;
    background-color: #E6E6E2;
    transition: 1s;
}


.Pashmina .rel-img{
    position:absolute;
    top:10px;
    right:10px;
}
.Pashmina .Women h6{
    font-size:16px;
    color:#0C0C0C;
    text-align: left;
    line-height:19px;
    padding:10px 0;
    opacity: 0.8;
}

.Pashmina .Women p{
    font-size:16px;
    text-align: left;
    line-height:19px;
    color:#4C0B36;
    padding-bottom:20px;
    opacity: 0.8;
}

/*-----footer-----*/
.slider-line{
    border-top: 1px solid rgb(112 112 112 / 20%);
}
.slider{
    width:100%;
    height:auto;
    display: flex;
    padding:10px 20px;
    
    
}
.slider .page {
   width:40%;
   height:auto;
   padding-top:18px;
}

.slider .page h4{
    font-size: 16px;
}
.slider .counting{
    width:70%;
    height:auto;
    margin-left:80px;
}

.slider .counting ul{
    display:flex;
 
}

.slider .counting ul li{
    list-style:none;
    border:0.5px solid transparent;
    margin:10px ;
    padding:5px;
    background:#fff; 
    font-size:16px;
}

.slider .counting .next{
    border: 0.5px solid #efefef;
    box-shadow: 0px 3px 5px #dfdfdf66;
}
.slider .counting .next i{
    padding-left:10px;
}

.slider .counting ul li:hover{
    background:#4C0B36; 
    color:#fff;
    border:0.5px solid #707070;
}


.footer-logo{
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo:before {
    content: '';
    width: 45%;
    height: 2px;
    display: inline-block;
    position: absolute;
    left: 1%;
    border-top: 1px solid rgb(112 112 112 / 20%);
    border-bottom: 1px solid rgb(112 112 112 / 20%);
}

.footer-logo:after {
    content: '';
    width: 45%;
    height: 2px;
    display: inline-block;
    position: absolute;
    border-top: 1px solid rgb(112 112 112 / 20%);
    border-bottom: 1px solid rgb(112 112 112 / 20%);
    right: 1%;
}
/*-----footer-menu-----*/
.footer-div{
    padding:10px 50px;
    display:flex;
    font-family: 'jostmedium';
}
.footer-menu{
    width:19%;
    height:auto;
   
}
.save{
    width:23%;
    height:auto;
}

.footer-menu h6{
    font-size:16px;
    color:#303030;
    line-height:26px;
    text-align: left;
    letter-spacing: 3.2px;
    font-family: 'jostmedium';
    
}

.footer-menu ul li{
    font-size:16px;
    list-style:none;
    color:#303030;
    letter-spacing: normal;
    padding: 5px 0 0px 0;
    font-family: 'jostregular';
}

.save h4{
    list-style:none;
    font-size:16px;
    color:#303030;
    line-height:26px;
    text-align: left;
    letter-spacing: 3.2px;
    font-family: 'jostmedium';
}
.save p{
    font-size:13px;
    line-height:20px;
    color:#303030;
    padding-top:5px;
    font-family: 'jostregular';
}

.Subscrib{
    display:flex;
    align-items:center;
    justify-content: space-between;
    border-bottom:2px solid #303030;
    margin-top: 30px;
    margin-bottom: 40px;

}
.Subscrib .email{
    color:#d1cbcb;
}

.follow .social-link i{
    font-size: 20px;
    padding: 20px 12px 30px 0px;

}
.follow .copyright{
    font-size:9px;
    color:#303030;  
    font-family: 'jostmedium';
}
.footer-box{
    display:none;
}
.copy{
    display:none;
}
.choice-button{
    display:none;
}
/*-----responsive------*/

@media only screen and (max-width: 1090px) {
    .order h6 {
        width: 50%;
        font-size: 10px;
        float: left;
        color: #303030;
        opacity: 1;
    }
    .nav-bar .nav-item .nav-link {
        padding: 10px 12px;
    }
    .nav-bar .nav-item {
        font-size: 13px;
        
    }
    .Pashmina .Women h6 {
        font-size: 14px;
    }

    .form-group label {
        font-size: 12px;
    }
    .footer-menu ul li{
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 1.2px;
    }
    .footer-menu p {
        font-size: 10px;
    }
    .Subscrib {
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .follow .copyright {
        font-size: 6px;
    }
    .Subscrib .email {
        color: #d1cbcb;
        
    }

    .footer-menu h4 {
        font-size: 10px;
    }
  }

@media only screen and (max-width: 967px) {
    .nav-bar .nav-item {
        font-size: 11px;
    }
    .nav-bar .nav-item .nav-link {
        padding: 10px 10px;
    }
    .form-group label {
        font-size: 10px;
    }
    .footer-menu ul li{
        font-size: 11px;
        line-height: 10px;
        letter-spacing: 0.2px;
    }
    .follow .social-link i {
        font-size: 15px;
        padding: 10px 12px 10px 0px;
    }
    .follow .copyright {
        font-size: 5px;
    }
    .Subscrib .email {
       font-size:10px;
    }
    
}


@media only screen and (max-width: 867px) {
   
    .order{
        display:none;
    }
    .container {
        width: 100%;
        height: auto;
        padding: 0px;
    }
    .order-2{
        display:block;
        width: 100%;
        height: auto;
        font-family: 'jostregular';
    }
    .order-2 h6 {
        font-size: 8px;
        border-bottom: 1px solid #ccc;
        background-color: #9d8b61;
        opacity: 1;
        color:#fff;
        text-align: center;
        padding:5px 10px;
        
    }
    .menu-list-2 {
        background-color: #fff;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 10px 20px;
        justify-content: space-between;
    }
    .menu-list-2 .menu-button-div{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content:flex-start ;
    }
    .dropdwon{
        width:20%;
        padding:22px 0;
    }
    .dropdown-img{
       width:100%;
       height:auto;
    }  
    .dropdown-img img{
        width:100%;
        padding-right:10px;
    }
    .logo-img{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 30%;
        text-align: right;
    }
    .logo-img img {
        width: 100%;
        height: auto;
    }

    
    
   
    .menu-list-2 .icon {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .icon .flag-img {
        display: flex;
        width: 25%;
        padding-right: 5px;
        padding-bottom: 5px;
    }
    .menu-list-2 .flag-img img{
        width: 25px;
        height: 20px;
        padding-right: 2px;
        padding-top:5px;

    }
    .menu-list-2 .flag-img span {
        font-size: 18px;
        padding-right: 0px;
        opacity: 0.7;
    }

    .icon .logo{
       display:flex;
        
    }
    .logo img {
        width: 100%;
        padding-bottom: 10px;
        height: auto;
    }

    .logo .size {
        width:30px;
        padding: 0 5px;
        cursor: pointer;
    }
    .logo .lock {
        position: relative;
    }

    .logo .lock span {
        position: absolute;
        bottom: 6px;
        right: 2px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid #303030;
        background-color: #0C0C0C;
        color: #fff;
        text-align: center;
        font-size: 6px;
    }


    .mobile-box{
        width: 25%;
        height: auto;

    }

   
    
    .menu-list-2 ul {
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .menu-list-2 ul li{
        list-style:none;
        font-size: 10px;
        padding:0 10px;

    }
    
    .dropdown-menu-box{
        width: 100%;
        display:none;
        height: 100vh;
        position: fixed;
        z-index: 999;
        top: 0px;
        left: 0;
    }
    .dropdown-menu-box .dropdown-box{
        width: 80%;
        background: #fff;

    }
    .menu-div{
        display:flex;
    }
    

    .dropdown-menu-box .dropdown-box-2{
        width:20%;
        background: rgba(0,0,0,.5);
    }
   
    .mobile-header{
        background-color: #501337;  
        color:#fff;
        padding:10px 20px; 
    }
    
    .mobile-icon{
        display: flex;
        align-items: center;
        justify-content: space-between;
       
    }

    .mobile-icon .men img{
        border: 0.5px solid black;
        background-color: #fff;
        padding: 5px;
        border-radius: 10px;
        width: 80%;
    }
    .mobile-login{
        display: flex;
        align-items: center;
        justify-content: space-between;
       padding:10px 0;
    } 
    .mobile-login .login ul li{
        padding:0;
        font-size:14px;
    }
    .mobile-menu ul{
        width:100%;
        height:auto;
        padding:10px 20px;
    }

    .mobile-menu ul .angle{
        color: #000;
       border-bottom:0.5px solid rgb(48 48 48 / 20%);
    }
    .mobile-menu ul li{
       padding:25px 0;
    }

    .mobile-menu ul li a{
        color: #000;
        text-decoration: none;
        font-size: 14px;
    }
    .mobile-menu ul span{
        float:right;
    }
    .menu-title{
        margin-top:10px;
        border-radius: 10px;
        color:#000;
        cursor:pointer;
    }
    
    .activate{
        display:none;
        cursor:pointer;
        position: absolute;
        width:100%;
        height: 40px;
        margin:0 0 0 -15px;
        opacity:0;
    }

    .drop-down a:hover{
        background-color: #E6E6E2;
    }
    .drop-down{
        max-width:200px;
        max-height:0;
        overflow: hidden;
        z-index: inherit;
    }
    
    .drop-down a{
        font-size: 7px;
        background: #fff;
        color: #000;
        text-decoration: none;
        text-transform: Capitalize;
    }
    .activate:checked ~ .drop-down {
        max-height: 200px;
      }
    .nav-bar{
        display:none  ;
    }
    .heading {
        width: 100%;
        align-items: center;
        text-align: center;
        padding: 10px 0;
    }
    .heading h1 {
        font-size: 15px;
        line-height: 22px;
        font-family: 'PlayfairDisplay';
        color: #303030;
    }
    .heading p {
        font-size: 10px;
        line-height: 15px;
        color: rgb(48 48 48 / 60%);
    }
    .col-md-9 .Border button {
        padding: 5px 10px;
        font-size: 10px;
        line-height: 15px;
    }
    .col-md-9 .select #standard-select {
        padding-top: 10px;
        padding-bottom: 8px;
        padding-left: 5px;
        padding-right: 45px;
    }
    .col-md-3{
        display:none;
    }
    .col-md-9 {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin:0 auto;
        padding: 5px 20px;
    }
    .col-md-9 .Pashmina {
        width: 48%;
        height: auto;
        background-color: #fff;
    }
    .Pashmina .Women h6 {
        font-size: 12px;
        padding: 5px 0;
    }
    .Pashmina .Women p {
        font-size: 10px;
    }

    .form-group label {
        font-size: 8px;
    }
   
   .footer-box{
       display:block;
       width:100%;
   }

   .footer-box .sort button{
       width:50%;
       height:auto; 
       font-size:13px;
       font-weight:700;
       background-image: url(../img/sort.svg)!important;
       background-size: 15px;
        background-repeat: no-repeat;
        background-color: #fff;
        padding: 10px 20px;
        background-position-x: 20%;
        background-position-y: 50%;
        box-shadow: none;
        outline:none;
        border:none;
        border-right:0.5px solid #eaeaec;
        border-top:0.5px solid #eaeaec;
        position:fixed;
        bottom:0;

   }
   .footer-box .filter-text button{
    width:50%;
    height:auto; 
    font-size:13px;
    font-weight:700;
    background-image: url(../img/filter-results-button.svg)!important;
    background-size: 15px;
     background-repeat: no-repeat;
     background-color: #fff;
     padding: 10px 20px;
     background-position-x: 20%;
     background-position-y: 50%;
     box-shadow: none;
     outline:none;
     border:none;
     border-left:0.5px solid #eaeaec;
     border-top:0.5px solid #eaeaec;
     position:fixed;
     bottom:0;
     right:0;
   }

   .low-high{
       width:100%;
       height:auto;
       background:#fff;
       margin-bottom:30px;
       display:none;
   }

   .low-high ul li{
      font-size:12px;
      font-weight:700;
      line-height:26px;
      color:#000;
      padding:10px 15px;
      text-transform: uppercase;
      text-align:center;
      border-bottom:0.5px solid #f1f1f1;
   }

   .low-high ul li:hover{
       background-color: #efefef;
   }
   .low-high ul .Newest{
       font-size:20px;
       font-weight:bold!important;
   }
      
   .moblie-sort-box{
      display:block;
      z-index:999;
      position: fixed;
      width:100%;
      height:auto;
      bottom:0;
   }
    .select{
        display:none;
    }

    .mobile-filter-box{
        width:100%;
        height:200px;
        background:#fff;
        margin-bottom:30px;
        padding:10px 0;
        display:none;
        z-index:1;
        
    }
    .mobile-filter-box h3{
        font-size:18px;
        text-transform: capitalize;
        margin:0px 50px;
        border-bottom:1px solid #f1f1f1;
    }

    .col-md-2{
        width:25%;
        height:500px;
        background-color: #E6E6E2;


    }
    .col-md-2 button{
        width: 100%;
        text-transform: uppercase;
        padding:10px 30px 10px 20px;
        border:1px solid #eaeaec;
        font-weight:bold;
        line-height:26px;
        background-color: #E6E6E2;
    }

    .close-and-apply{
       width:100%;
    }

    .close-and-apply #apply{
        width:50%;
        height:auto; 
        font-size:13px;
        font-weight:700;
        background-color: #fff;
        padding: 10px 20px;
       box-shadow: none;
        outline:none;
        border:none;
        border-left:0.5px solid #eaeaec;
        border-top:0.5px solid #eaeaec;
        position:fixed;
        bottom:0px;
        right:0;
    }
    .close-and-apply #remove{
        width:50%;
        height:auto; 
        font-size:13px;
        font-weight:700;
        background-color: #fff;
        padding: 10px 20px;
        box-shadow: none;
        outline:none;
        border:none;
        border-left:0.5px solid #eaeaec;
        border-top:0.5px solid #eaeaec;
        position:fixed;
        bottom:0px;
        left:0;
}



    .filter-div{
        display:block;
        z-index:2;
        position: fixed;
        width:100%;
        height:auto;
        bottom:0; 
    }
    .slider {
        flex-wrap: wrap;
    }
    .slider .page {
        width: 100%;
    }
    .slider .page h4 {
        text-align: center;
    }

    .slider .counting {
        width: 100%;
        margin-left: 0px;
        padding-left:50px;
    }

/*---footer---*/ 
.footer-logo {
    padding-top: 20px;
    background-color: #fbf7e8;
}
.footer-div {
    flex-wrap:wrap;
    background-color: #fbf7e8;
    padding:0;
    margin-bottom: 30px;
}   

.footer-menu {
    width: 100%;
    height: auto;
    padding:15px 20px;
    border-bottom: 1px solid hsla(0,0%,77.3%,.47059);
}


.footer-div .save {
    order: 1;
    width: 100%;
    height: auto;
    padding: 10px 20px;
    margin-top: 40px;
}   
.choice-button{
    display:block;
} 
.footer-menu .shop{
     display:flex;
     justify-content: space-between;
     align-items: center;
}

.footer-menu .quick{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.footer-menu .custom{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.footer-menu .profile{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.footer-menu .button-1{
    width:10px;
}
.footer-menu .button-2{
    width:10px;
}
.footer-menu ul li {
    font-size: 15px; 
    line-height: 24px; 
    letter-spacing: 0.2px;
}

.footer-menu h6 {
    font-size: 18px;
    color: #303030;
    text-align: left;
    letter-spacing: 0.5px;
    font-family: 'jostregular';
}
.footer-menu ul{
    display:none;
}
.footer-menu .button-1{
    display:none;
}
.footer-box .button-1{
    display:block;
}
.footer-box .button-2{
    display:none;
}

.footer-box ul{
    display:block;
}
.footer-menu#shop{
    order:2;
}
.footer-menu#quick{
    order:3;
}
.footer-menu#custom{
    order:4;
}
.footer-menu#profile{
    order:5;
}
.Subscrib .email {
    font-size: 14px;
}
.copyright{
    display:none;
}
.footer-div .copy{
    margin: 0 auto;
    display:block;
   order:6;
   font-size:10px;
   padding: 10px 0 0 0px;
   margin-bottom: 30px; 
   font-family: 'jostregular';
}
.Subscrib {
    margin-top: 15px;
    margin-bottom: 30px;
}

.footer-div h5{
    font-family: 'jostregular';
}
.footer-div h4{
    font-family: 'jostregular';
}
.save p {
    font-size: 10px;
}

}

